.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}
.hero .left,
.hero .right {
  width: 50%;
}
.hero .left h1 {
  font-size: clamp(1rem, 7vw, 2rem);
  margin: 1rem 0;
  text-wrap: nowrap;
}
.hero .left p {
  width: 90%;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.hero .right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .right img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.home-cards {
  margin-top: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.home-container .details {
  margin-top: 3rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details .one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details .one .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details span {
  color: red;
}
.details h1 {
  width: 100%;
  margin: 1rem 0;
  font-size: clamp(1rem, 6vw, 2rem);
}
.details .one .left p {
  width: 90%;
  font-size: clamp(0.9rem, 5vw, 1rem);
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-align: justify;
}
.details .one .right {
  width: 90%;
  margin-top: 2rem;
}
.details .one .right img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.details .two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .two h1 {
  width: 100%;
}
.details .two ol {
  width: 90%;
}
.details .two ol li {
  font-size: clamp(1.1rem, 5vw, 1.2rem);
  font-weight: 600;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(300deg, var(--accent-two-layer-two), #b9f6ca3b);

  color: var(--accent-two);
}
.details .two ol li p {
  font-size: clamp(0.9rem, 5vw, 1rem);
  font-weight: 400;
  padding: 0.5rem;
  color: var(--black);
}
.home-container .description {
  margin: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description .cards {
  margin-top: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.description button {
  margin: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--accent-layer-one);
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.home-container .rate {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rate .rate-cards {
  width: 100%;
}
.rate .rate-cards .card {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1rem;
}
@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero .left,
  .hero .right {
    width: 90%;
  }
  .right img {
    width: 100%;
  }
  .hero .left p {
    line-height: 1.7;
  }
  .details h1 {
    text-align: center;
    font-size: clamp(1rem, 7vw, 2rem);
  }
  .details .left p {
    width: 90%;
    line-height: 1.6;
    text-align: center;
  }
  .rate .rate-cards .card {
    margin-top: 2rem;
    gap: 4rem;
  }
}
