.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-layer-one);
  padding: 1rem 2rem;
  z-index: 999;
  position: relative;
}
.navbar-container nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  background-color: var(--bg-layer-two);
  padding: 0.5rem 2rem;
  border-radius: 3rem;
}
.navbar-container nav ul i {
  font-size: 1rem;
}
.navbar-container nav ul li {
  cursor: pointer;
  font-size: 1.5rem;
}
.navbar-container nav ul a {
  color: var(--black);
  text-decoration: none;
}
.navbar-container nav ul a.active {
  color: var(--accent);
}

.c-logo {
  width: 120px;
}
.u-logo {
  font-size: 2.5rem;
  list-style: none;
  filter: grayscale(1);
}
.profile a.active li {
  filter: grayscale(0);
  color: var(--login-accent);
}
.navbar-container nav i {
  display: none;
}
@media screen and (max-width: 840px) {
  .navbar-container nav ul {
    display: none;
    flex-direction: column;
    gap: 3rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0px;
  }
  .navbar-container nav ul li {
    margin-top: 2rem;
  }
  .navbar-container nav ul .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .c-logo {
    width: 80px;
  }
  .u-logo {
    display: none;
  }
  .navbar-container nav i {
    display: block;
    font-size: 1.5rem;
  }
}
