.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-layer-one);
  padding: 1rem 2rem;
}
.navbar-container nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  background-color: var(--bg-layer-two);
  padding: 1rem 3rem;
  border-radius: 3rem;
}
.navbar-container nav ul li {
  cursor: pointer;
}
.navbar-container nav ul a {
  color: var(--black);
  text-decoration: none;
}
.navbar-container nav ul a.active {
  color: var(--accent);
}
.c-logo {
  width: 120px;
}
.u-logo {
  width: 50px;
}
.navbar-container nav i {
  display: none;
}
@media screen and (max-width: 840px) {
  .navbar-container nav ul {
    display: none;
  }
  .c-logo {
    width: 80px;
  }
  .u-logo {
    display: none;
  }
  .navbar-container nav i {
    display: block;
    font-size: 1.5rem;
  }
}
