@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", serif;
}
:root {
  --bg-color: #ffffff;
  --bg-layer-one: #f0f0f0;
  --bg-layer-two: #e1e1e1;
  --accent: #b71c1c;
  --accent-layer-one: #ffcdd2;
  --accent-layer-two: #ef9a9a;
  --accent-two: #00c853;
  --accent-two-layer-one: #b9f6ca;
  --accent-two-layer-two: #69f0ae;
  --border: #ff0000;
  --black: #000;
  --white: #fff;
}
